.card-testimonial {
    text-align: center;
  }
  
  .card-testimonial .card-avatar {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  
  .card-testimonial .card-quote cite {
    display: block;
    padding-top: 1em;
    color: var(--color-primary);
  }